<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viona.registrationapp.core">

    <application>
        <meta-data
            android:name="api_key"
            android:value="${api_key}" />
    </application>


</manifest>